<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>регистрация</title>
     <link rel="stylesheet" href="styles/registr.css">
</head>
<body>
     <header class="logo">
          <img src="images/logo.png" class="logoImage">
          <span>SkyStyle</span>
     </header>

     <div class="main">
          <h3 class="title">Регистрация</h3>

          <div class="field-group">
               <input type="text" placeholder="ваше имя">
          </div>

          <div class="field-group">
               <input type="email" placeholder="email">
          </div>

          <div class="field-group">
               <input type="password" placeholder="введите пароль">
          </div>

          <div class="field-group">
               <input type="password" placeholder="повторите пароль">
          </div>

          <label class="checkbox">
               <input type="checkbox">
               <span> Я принимаю условия</span>
          </label>

          <button class="registrButton">зарегистрироваться</button>
          
          <div class="login">
               <p>Уже есть аккаунт? <span>Войти</span> </p>
          </div>
     </div>

</body>
</html>
